# ==============================

# Python

# ==============================

**pycache**/
*.py[cod]
*$py.class

# Distribution / packaging

build/
dist/
*.egg-info/

# ==============================

# Virtual Environment

# ==============================

venv/
env/
ENV/

# ==============================

# Jupyter Notebook

# ==============================

.ipynb_checkpoints

# ==============================

# Environment Variables

# ==============================

.env

# ==============================

# Dataset Files

# ==============================

dataset/
*.csv
*.xlsx

# ==============================

# ML Model Files

# ==============================

*.pkl
*.joblib
*.model

# ==============================

# Logs

# ==============================

*.log

# ==============================

# MacOS Files

# ==============================

.DS_Store

# ==============================

# VSCode

# ==============================

.vscode/

# ==============================

# PyCharm

# ==============================

.idea/

# ==============================

# Temporary Files

# ==============================

*.tmp
*.swp
